
.poster {
    background: #4abdcc;
    height: 530px;
    padding-top: 50px;
    width: 100%;
}

.poster .center-align {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.poster .phone-icon {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_poster.png") no-repeat scroll;
    height: 471px;
    left: 195px;
    position: relative;
    width: 214px;
}

.poster .product-desc {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_poster.png") no-repeat scroll 0px -504px;
    height: 125px;
    left: 195px;
    position: relative;
    top: 56px;
    width: 300px;
}

.poster .explore {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_poster.png") no-repeat scroll 0 -648px;
    height: 70px;
    left: -105px;
    position: relative;
    top: 200px;
    width: 300px;
}

.poster .explore:hover {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_poster.png") no-repeat scroll 0 -718px;
}

.poster .explore a {
    display: block;
    height: 70px;
    width: 300px;
}

.poster .download {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_poster.png?v=2") no-repeat scroll 0 -811px;
    height: 73px;
    left: -105px;
    position: relative;
    top: 223px;
    width: 300px;
}

.poster .download a {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_poster.png?v=2") no-repeat scroll -43px -884px;
    display: block;
    height: 37px;
    position: absolute;
    width: 27px;
}

.poster .download .ios {
    top: 24px;
    left: 190px;
}

.poster .download .android {
    top: 24px;
    left: 222px;
}

.poster .download .ios:hover {
    background-position: -190px -893px;
}

.poster .download .android:hover {
    background-position: -222px -893px;
}

.poster .poster-bgs {
    bottom: 0px;
    height: 286px;
    left: 0px;
    position: absolute;
    width: 960px;
}

.poster .poster-bgs .bg {
    bottom: 0px;
    height: 286px;
    position: absolute;
    width: 960px;
}

.poster .poster-bgs .bg0 {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_poster_bgs.png");
}

.poster .poster-bgs .bg1 {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_poster_bgs.png") 0 -299px;
}

.poster .poster-bgs .bg2 {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_poster_bgs.png") 0 -598px;
}

.features {
    background: #ffffff;
    height: 650px;
    padding-top: 40px;
    width: 100%;
}

.features .center-align {
    margin: 72px auto;
    position: relative;
    width: 960px;
}

.features .center-align .feature-icons {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/home_features.png");
    display: inline;
    height: 578px;
    margin-left: 187px;
    width: 248px;
}

.features .center-align .feature-desc {
    width: 520px;
    height: 578px;
}

.features .center-align .feature-row {
    font-family: "黑体";
    height: 210px;
}

.features .center-align .feature-row .title {
    color: #5c5c5c;
    font-size: 26px;
    height: 60px;
    line-height: 60px;
}

.features .center-align .feature-row .text {
    color: #999999;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}

.features .center-align .feature-row .text a {
    color: #4abdcc;
    line-height: 30px;
}



#header.new-index {
    background: transparent;
    height: 540px;
}

#header.new-index #features {
    left: 0px;
    height: 540px;
    position: absolute;
    top: 0px;
    width: 100%;
}

#header.new-index #features .navi-wrapper {
    height: 90px;
    left: 0px;
    min-width: 930px;
    position: absolute;
    top: 397px;
    width: 100%;
    z-index: 15;
}

#header.new-index #features .navi {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523") 0px -155px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    width: 200px;
}

#header.new-index #features .navi .item {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523");
    cursor: pointer;
    height: 90px;
    position: absolute;
    width: 64px;
}

#header.new-index #features .navi .n1 {
    background-position: 0px -255px;
    left: 0px;
    top: 0px;
}

#header.new-index #features .navi .n1:hover {
    background-position: 0px -355px;
}

#header.new-index #features .navi .n2 {
    background-position: -64px -255px;
    left: 64px;
    top: 0px;
}

#header.new-index #features .navi .n2:hover {
    background-position: -64px -355px;
}

#header.new-index #features .navi .n3 {
    background-position: -128px -255px;
    left: 128px;
    top: 0px;
}

#header.new-index #features .navi .n3:hover {
    background-position: -128px -355px;
}

#header.new-index #features .navi .current {
    background-position-y: -355px;
}

#header.new-index #features .items {
    position: absolute;
    width: 100%;
}

#header.new-index #features .items .item {
    min-width: 930px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#header.new-index #features .text {
    background-position: center center;
    background-repeat: no-repeat;
    height: 460px;
    position: absolute;
    top: 50px;
    width: 100%;
}

#header.new-index #features #bg0 .text {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_text1.png");
}

#header.new-index #features #bg1 .text {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_text2.png");
}

#header.new-index #features #bg2 .text {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_text3.png");
}

#header.new-index #features #bg3 .text {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_text4.png");
}

#header.new-index #features #bg4 .text {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_text_bff.png");
    top: 115px;
}

#header.new-index #features .bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    width: 100%;
}

#header.new-index #features #bg0 .bg {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg1.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg1.jpg', sizingMethod='scale');
}

#header.new-index #features #bg1 .bg {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg2.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg2.jpg', sizingMethod='scale');
}

#header.new-index #features #bg2 .bg {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg3.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg3.jpg', sizingMethod='scale');
}

#header.new-index #features #bg3 .bg {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg4.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg4.jpg', sizingMethod='scale');
}

#header.new-index #features #bg4 .bg {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg_bff.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://breadtrip-static.u.qiniudn.com/static/img/new_index_bg5.jpg', sizingMethod='scale');
}

#header.new-index .breadtrip-logo {
    width: 109px;
    height: 48px;
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/breadtrip_icon.png?v=20140523") no-repeat 0 0;
}

#header.new-index-521 .breadtrip-logo {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/breadtrip_icon_white.png") no-repeat 0 0;
}

#header.new-index .icon {
    background: transparent;
    height: 48px;
    margin-top: 30px;
    width: 109px;
}

#header.new-index .nav-bar {
    margin: 0 0 0 144px;
    _margin-left: 130px;
}

#header.new-index .nav-bar .sep {
    background: #4abdcc;
    float: left;
    height: 18px;
    margin-top: 50px;
    width: 1px;
}

#header.new-index-521 .nav-bar .sep {
    background: #fff;
}

#header.new-index .nav-bar a {
    color: #4abdcc;
    font-size: 16px;
    margin: 30px 0 0 0;
}

#header.new-index .nav-bar a:hover {
    color: #2e9dab;
    background: transparent;
}

#header.new-index-521 .nav-bar a {
    color: #fff;
    opacity: .66;
}

#header.new-index-521 .nav-bar a:hover {
    color: #fff;
    opacity: 1;
}


#header.new-index .nav-bar .icon {
    float: left;
    height: 20px;
    margin-top: 0px;
    margin-right: 5px;
    width: 20px;
}

#header.new-index .nav-bar .explore-icon {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523");
    background-repeat: no-repeat;
    background-position: 0 -55px;
}

#header.new-index .nav-bar a:hover .explore-icon {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523");
    background-position: 0 -80px;
}

#header.new-index .nav-bar .destination-icon {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523");
    background-repeat: no-repeat;
    background-position: -25px -55px;
}

#header.new-index .nav-bar a:hover .destination-icon {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523");
    background-position: -25px -80px;
}

#header.new-index .nav-bar .download-icon {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523");
    background-repeat: no-repeat;
    background-position: -48px -55px;
}

#header.new-index .nav-bar a:hover .download-icon {
    background-position: -48px -80px;
}

#header.new-index .nav-bar .geotag-icon {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523");
    background-repeat: no-repeat;
    background-position: -77px -55px;
    width: 11px;
}

#header.new-index .nav-bar a:hover .geotag-icon {
    background-position: -77px -80px;
}

/* new-index-521 */

#header.new-index-521 .nav-bar .explore-icon {
    background-position: 0 -105px;
}

#header.new-index-521 .nav-bar a:hover .explore-icon {
    background-position: 0 -105px;
}

#header.new-index-521 .nav-bar .destination-icon {
    background-position: -25px -105px;
}

#header.new-index-521 .nav-bar a:hover .destination-icon {
    background-position: -25px -105px;
}

#header.new-index-521 .nav-bar .download-icon {
    background-position: -49px -106px;
}

#header.new-index-521 .nav-bar a:hover .download-icon {
    background-position: -49px -106px;
}

#header.new-index-521 .nav-bar .geotag-icon {
    background-position: -77px -106px;
}

#header.new-index-521 .nav-bar a:hover .geotag-icon {
    background-position: -77px -106px;
}

#header.new-index .profile {
    margin-top: 30px;
}

#header.new-index .profile a {
    color: #4abdcc;
    font-size: 12px;
}

#header.new-index-521 .profile a {
    color: #fff;
}

#header.new-index .profile .text {
    color: #4abdcc;
    font-size: 12px;
    width: 17px
}

#header.new-index-521 .profile .text {
    color: #fff;
    font-size: 12px;
    width: 17px
}

#header.new-index .profile .signup {
    width: 27px;
}

#header.new-index .profile .signup a {
    font-size: 12px;
}

#header.new-index .profile .signup a:hover {
    color: #2e9dab
}

#header.new-index-521 .profile .signup a:hover {
    opacity: 1;
    color: #fff;
}

#header.new-index .profile .login {
    /*background: #4abdcc;*/
    height: 24px;
    line-height: 26px;
}

#header.new-index .profile .login:hover {
    /*background: #bad424;*/
}

#header.new-index .profile .login a.a-login {
    border-radius: 12px;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    font-size: 12px;
}
#header.new-index .profile .login a:hover {
    /*background: #bad424;*/
}
.login-sns{
    height: 24px;
}

.login-weibo{
    text-indent: -9999em;
}

.new-index #search {
    position: absolute;
    left: 0px;
    top: 515px;
    width: 100%;
}

.new-index #search .search-wrapper {
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 26px;
    -o-border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    margin: 0 auto;
    width: 362px;
}

.new-index #search form.search_input {
    overflow: hidden;
}

.new-index #search label.search {
    color: #5c5c5c;
    font-size: 18px;
    line-height: 36px;
}

.new-index #search div.text-wrapper {
    background: #ffffff;
    border-radius: 22px;
    -o-border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border: 3px solid #4abdcc;
    height: 34px;
    padding-left: 12px;
    position: relative;
    width: 344px;
}

.new-index #search input.keyword {
    border: medium none;
    font-size: 14px;
    height: 18px;
    margin-top: 6px;
    width: 275px;
    line-height: 18px;
}

.new-index #search .btn-search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: medium none;
    cursor: pointer;
    z-index: 2;
}

.new-index #search .btn-search {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/mix_search_icons.png") no-repeat scroll -5px -120px #4abdcc;
    border-radius: 14px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 28px;
    position: absolute;
    right: 3px;
    text-shadow: 1px 1px 1px #5C5C5C;
    top: 3px;
    width: 50px;
}

.new-index #search input.btn-search:hover {
    background-color: #2e9dab;
}

.new-index #search input.btn-search:active {
    background-color: #168391;
}

.new-index #content {
    padding-top: 540px;
}


/*.new-index .hot-destinations {
    margin-top: 20px;
}*/

.new-index .hot-destinations .title {
    color: #5c5c5c;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

.new-index .hot-destinations .title .icon {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523") no-repeat -99px -45px;
    height: 18px;
    padding: 12px 5px 10px 0;
    width: 20px;
}

.new-index .hot-destinations .photos {
    width: 940px;
}

.new-index .hot-destinations .photos a {
    text-decoration: none;
}

.new-index .hot-destinations .photos .photo {
    background-position: center center;
    background-size: cover;
    height: 178px;
    margin: 0 10px 10px 0;
    position: relative;
    width: 178px;
}

.new-index .hot-destinations .photos .photo .hover-mask {
    background: #000000;
    height: 178px;
    opacity: 0.2;
    -moz-opacity: 0.2;
    filter:alpha(opacity=20);
    width: 178px;
}

.new-index .hot-destinations .photos .photo:hover .hover-mask {
    display: block;
}

.new-index .hot-destinations .photos .photo .mask {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/destination_icons.png") no-repeat 0 -428px;
    bottom: 12px;
    height: 48px;
    padding-left: 16px;
    position: absolute;
    left: 0px;
    width: 120px;
}

.new-index .hot-destinations .photos .photo .mask .name {
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    width: 110px;
}

.new-index .hot-destinations .photos .photo .mask .wished {
    color: #b0b0b0;
    font-size: 12px;
}

.new-index .hot-destinations .photos #load-more {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    color: #999999;
    cursor: pointer;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin: 12px 0 30px 0;
    text-align: center;
    width: 930px;
}

.new-index .hot-destinations .photos #loading-hint {
    display: none;
}

/***************** Index V4 *****************/
.index_v4 #features {
    cursor: pointer;
}

#header.index_v4 #features .navi-wrapper {
    top: 225px;
    height: 1px;
}

.index_v4 #features .navi-bar {
    position: relative;
    width: 100%;
}

.index_v4 #features .navi-next {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523") no-repeat -288px -312px;
    width: 43px;
    height: 90px;
    position: absolute;
    right: 64px;
    display: none;
}

.index_v4 #features .navi-next:hover {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523") no-repeat -288px -208px;
}

.index_v4 #features .navi-prev {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523") no-repeat -288px -104px;
    width: 43px;
    height: 90px;
    position: absolute;
    left: 64px;
    display: none;
}

.index_v4 #features .navi-prev:hover {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/new_index_icons.png?v=20140523") no-repeat -288px 0;
}

#header.index_v4 #features .scrollable {
    width: 100%;
    min-width: 930px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#header.index_v4 #features .items {
    width: 12800px;
    position: absolute;
}

#header.index_v4 #features .items .item {
    position: relative;
    min-width: 930px;
    cursor: pointer;
}

#header.index_v4 #features #bg0 .text {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/index_v4_text1.png");
    top: 30px;
}

#header.index_v4 #features #bg0 .bg {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/index_v4_bg1.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://breadtrip-static.u.qiniudn.com/static/img/index_v4_bg1.jpg', sizingMethod='scale');
}

#header.index_v4 #features #bg0 .extra-info {
    background: url("http://breadtrip-static.u.qiniudn.com/static/img/index_v4_float_poi.png") no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 294px;
    position: absolute;
    top: 260px;
}

#header.index_v4 #features #bg0 .bg0-IE {
    background-image: url("http://breadtrip-static.u.qiniudn.com/static/img/index_v4_bg1_IE.jpg"));
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://breadtrip-static.u.qiniudn.com/static/img/index_v4_bg1_IE.jpg', sizingMethod='scale');
}